// Specific CSS for your home-page
.homepage-background {
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1;
}

.homepage-content {
  margin: auto;
  width: 1000px;
  padding: 20px 0px 20px 0px;
  margin-top: 15px;
}


