// Specific CSS for your home-page
.homepage-background {
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1;
}

// Text Types

.title {
  color: white;
  font-family: arial;
}

.homepage .title {
  margin-top: 250px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  color: #DBB980;
  text-shadow: 2px 3px 20px #000000;
}

.sub-title {
  color: black;
  font-family: arial;
}

.text {
  font-family: arial;
  color: black;
}

