<div class="content pt-3">

  <% @posts.each do |post| %>
    <div class="mb-4">
      <h2 class="mb-0"><%= post.title %></h2>
      <p><%= post.date %></p>

      <div class="d-flex justify-content-between">
        <div>
          <%= simple_format(post.content) %>
        </div>

        <% if post.photo.attached? %>
          <%= cl_image_tag post.photo.key, width: "300", height: "300", class: "news-post-image" %>
        <% end %>
      </div>
    </div>

  <% end %>
</div>
