<div class="footer d-flex">
  <%= link_to "Impressum", "#", class: "text"  %>
  <%= link_to "Datenschutz", "#", class: "text"  %>
  <%= link_to "Sitemap", "#", class: "text"  %>
</div>

<%= link_to "Anmelden", new_user_session_path  %>
