<div class="homepage">


<div class="content-background">
  <div class="content">
    <h1 class="title">Gemeinsam für ehemalig Rumänische Streuner</h1>

    <div class="d-flex feature">
      <%= cl_image_tag 'smt9jgb9djj9xdcuvx1t', width: "300px", class: "image" %>
      <h3 class="sub-title">Hund des Monats</h3>
    </div>

    <div class="d-flex feature">
      <%= cl_image_tag 'smt9jgb9djj9xdcuvx1t', width: "300px", class: "image" %>
    </div>
  </div>
</div>

</div>
