<div class="content pt-3">
  <h1 class="mb-4">Impressum</h1>

  <h5><strong>Vereinsadresse</strong></h5>
  <p>Flori & Friends Animal Hope e.V. <br>
      Gartenstrasse 17 <br>
      68542 Heddesheim </p>


  <p>Vorstand: <br>
      1. Vorsitz: <br>
      Dr. Luise Knierim <br>
      Heddesheim <br>
      Tel.: 06203 42133 <br>
      Mail: ff.animalhope@gmail.com </p>
  <p>2. Vorsitz: <br>
    Angelika Lichtenstern Farchant <br>
    Tel: X <br>
    Mail: ff.animalhope@gmail.com </p>
  <p>Kassenwart / Buchaltung: <br>
    Heike Köhler <br>
    Stuttgart <br>
    Tel: 02304-82391 <br> </p>
  <p>Kassenprüfer: <br>
    Norbert Tesch <br>
    Heddesheim </p>
  <p>Schriftführer: <br>
    Marlen Köhler </p>
  <p>Redaktionelle Pflege: <br>
    Daniela Suntinger und Dr. Luise Knierim </p>
  <p>Vereinskonto: <br>
    Flori and Friends Animal Hope <br>
    BW Bank Baden-Württemberg Stuttgart <br>
    Iban: DE93600501010405268650 <br>
    BIC: SOLADEST600</p>
  <p>Paypal: <br>
    Floriandfriends@mailbox.org</p>

  <p>(Bei Spenden Name/Adresse mit angeben, so können wir hierfür auch eine Spendenbescheinigung an Sie ausstellen)</p>
  <p>Steuernummer 47025/16010 beim Finanzamt Weinheim <br>
    Vereinsregisternummer: 702910 Amtsgericht Mannheim</p>

  <p>Flori and Friends e.V ist ein eingetragener und gemeinnütziger Verein mit dem status: (Vereinszweck?) </p>

  <p class="m-0"><strong>Haftungsausschluss</strong>:</p>
  <p>Der Tierschutzverein Flori and Friends e.V. hat alle in seinem Bereich
    bereitgestellten Informationen nach bestem Wissen und Gewissen erarbeitet und geprüft.
    Es wird jedoch keine Gewähr für die Aktualität, Richtigkeit, Vollständigkeit oder Qualität und
    jederzeitige Verfügbarkeit der bereitgestellten Informationen übernommen. <br>
    Für etwaige Schäden, die beim Aufrufen oder Herunterladen von Daten durch Computerviren
    oder der Installation oder Nutzung von Software verursacht werden, wird nicht gehaftet. <br>
    Namentlich gekennzeichnete Internetseiten geben die Auffassungen und Erkenntnisse der abfassenden
    Personen wieder. Der Tierschutzverein Flori and Friends e.V. behält es sich ausdrücklich vor, einzelne Webseiten,
    Web-Dienste oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die
    Veröffentlichung zeitweise oder endgültig einzustellen. </p>

  <p class="m-0"><strong>Urheber- und Kennzeichnungsrechte:</strong>:</p>
  <p>Der Tierschutzverein Flori and Friends e.V. ist bestrebt, in allen Publikationen
    die Urheberrechte der verwendeten Bilder, Grafiken, Tondokumente, Videosequenzen
    und Texte zu beachten, von ihm selbst erstellte Bilder, Grafiken, Tondokumente, Videosequenzen
    und Texte zu nutzen oder auf lizenzfreie Grafiken, Tondokumente, Videosequenzen und Texte zurückzugreifen. <br>
    Alle innerhalb des Internetangebotes genannten und ggf. durch Dritte geschützten Marken-
    und Warenzeichen unterliegen uneingeschränkt den Bestimmungen des jeweils gültigen Kennzeichenrechts
    und den Besitzrechten der jeweiligen eingetragenen Eigentümer. Allein aufgrund der bloßen Nennung ist nicht
    der Schluss zu ziehen, dass Markenzeichen nicht durch Rechte Dritter geschützt sind! <br>
    Das Copyright für veröffentlichte, vom Tierschutzverein Flori and Friends e.V. selbst erstellte Objekte
    bleibt allein beim Autor der Seiten. Eine Vervielfältigung oder Verwendung solcher Grafiken, Tondokumente,
    Videosequenzen und Texte in anderen elektronischen oder gedruckten Publikationen ist ohne ausdrückliche
    Zustimmung durch den Tierschutzverein Flori and Friends e.V. nicht gestattet. </p>

  <p class="m-0"><strong>Datenschutz</strong>:</p>
  <p>Sofern innerhalb des Internetangebotes die Möglichkeit zur
    Eingabe persönlicher oder geschäftlicher Daten (Emailadressen, Namen, Anschriften)
    besteht, so erfolgt die Preisgabe dieser Daten seitens des Nutzers auf ausdrücklich
    freiwilliger Basis. Die Inanspruchnahme und Bezahlung aller angebotenen Dienste ist – soweit
    technisch möglich und zumutbar – auch ohne Angabe solcher Daten bzw. unter Angabe anonymisierter
    Daten oder eines Pseudonyms gestattet. Die Nutzung der im Rahmen des Impressums oder vergleichbarer
    Angaben veröffentlichten Kontaktdaten wie Postanschriften, Telefon- und Faxnummern sowie Emailadressen
    durch Dritte zur Übersendung von nicht ausdrücklich angeforderten Informationen ist nicht gestattet. Rechtliche
  Schritte gegen die Versender von sogenannten Spam-Mails bei Verstößen gegen dieses Verbot sind ausdrücklich vorbehalten. </p>

  <p class="m-0"><strong>Links:</strong>:</p>
  <p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die
  Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich. </p>

  <%= link_to "Unsere Satzung", "#"  %> ??
</div>


