<div class="content pt-3">
  <h1>Mitglied werden</h1>
  <%= link_to "https://res.cloudinary.com/dfyshzkrg/image/upload/v1601972932/Aufnahmeformular_F_F_2020-08-23_edxkjb.pdf", target: "_blank" do  %>
  <p class="download-btn"><i class="fas fa-download"></i></p>
  <% end %>
</div>
