<div class="content pt-3">
  <%= link_to "Aufnahmeformular herunterladen", "https://res.cloudinary.com/dfyshzkrg/image/upload/v1601972932/Aufnahmeformular_F_F_2020-08-23_edxkjb.pdf", target: "_blank"  %>
</div>
