<div class="content">
  <%= render "shared/helfen-und-spenden-filter" %>
  <div class="d-flex justify-content-between">
    <div>
      <h1>Mit Patenschaften Leben retten</h1>

      <p>
        Monat für Monat bringen uns die Futterkosten für die knapp 250 Hunde und rund
        80 Katzen an unsere Grenzen. Und all unsere Schützlinge brauchen medizinische
        Versorgung, Impfungen sowie kontinuierlichen Schutz vor Parasiten.
      </p>

      <p>
        Wir geben alles. Aber ohne Patenschaften und Unterstützung geht es leider nicht.
        Jeder Cent kommt direkt den Tieren bei Flori zugute und hilft auch, die Existenz
        vom Team vor Ort sicherzustellen. Mit Patenschaften kann man helfen, dass alle
        Seelchen weiterhin im geschützten Umfeld von unserem Shelter gut versorgt werden können.
      </p>
    </div>
    <div>
      <div class="row table-div">
        <div class="col-5 table-cenral-border">
          <p class="text mb-3 row-name-text">
            <strong>Namenpatenschaft</strong> <br>
            <span class="row-description-text">EUR 25</span>
          </p>
        </div>
        <div class="col-7 pl-4">
          <p class="text mb-3 row-description-text">
            Gib einem namenlosen Hund bei Flori einen Namen
          </p>
        </div>

        <div class="col-5 table-cenral-border">
          <p class="text mb-3 row-name-text">
            <strong>Vollpatenschaft</strong> <br>

            <span class="row-description-text">
              EUR 35/Monat <br>
              Teilpatenschaft <br>
              EUR 17,50/Monat
            </span>
          </p>
        </div>
        <div class="col-7 pl-4">
          <p class="text mb-3 row-description-text">
            Jeder Hund muss das komplette Impfprogramm durchlaufen, dass er geschützt ist und auch vermittelt werden kann.
          </p>
        </div>

        <div class="col-5 table-cenral-border">
          <p class="text mb-3 row-name-text">
            <strong>Veterinär-Patenschaft</strong> <br>
            <span class="row-description-text">EUR 10/Monat</span>
          </p>
        </div>
        <div class="col-7 pl-4">
          <p class="text mb-3 row-description-text">
            Damit hilfst du die hohen Vet- Kosten zu bewältigen, die für alle Tiere im Shelter anfallen.
          </p>
        </div>

        <div class="col-5 table-cenral-border">
          <p class="text mb-3 row-name-text">
            <strong>Kastrationspatenschaft</strong> <br>
            <span class="row-description-text">EUR 25</span>
          </p>
        </div>
        <div class="col-7 pl-4">
          <p class="text mb-3 row-description-text">
            Bitte hilf mit, dass nicht noch mehr Hunde auf die Welt kommen.
          </p>
        </div>

        <div class="col-5 table-cenral-border">
          <p class="text mb-3 row-name-text">
            <strong>Futterpatenschaft</strong> <br>
            <span class="row-description-text">EUR 8/Monat</span>
          </p>
        </div>
        <div class="col-7 pl-4">
          <p class="text mb-3 row-description-text">
            Für alle nicht bepateten Hunde und die Straßenhunde.
          </p>
        </div>
      </div>
    </div>

    </div>
  </div>


