<div class="content">
  <%= render "shared/helfen-und-spenden-filter" %>

  <%= link_to "https://www.gooding.de/flori-and-friends-animal-hope-e-v-92700/praemien?fbclid=IwAR0QdIjozF-doDmE2N3iVjCeUeTruG7HYELZ953EyOw9XX55nlCXoRviBfc", target: "_blank" do   %>
    <p class="shopping-link"><i class="fas fa-shopping-cart"></i></p>
  <% end %>
</div>
