<div class="content pt-3">
  <h1>Wir über uns</h1>
  <p>
    Das Projekt „Flori & Friends Animal Hope“ ist ein Herzensprojekt, in dem sich
    Menschen mit großer Liebe und Hingabe für heimatlose rumänische Hunde im Privatshelter
    von Florentina Irimia zusammengefunden haben. Unser kleiner Verein ist eingetragen und
    gemeinnützig und wurde im Juli 2020 gegründet …
  </p>

  <p>
    Hinter all diesen Hunden und Katzen stehen schlimme Schicksale. Aus Tötungen
    und aussichtslosen Situationen auf der Straße gerettet, haben sie jetzt eine
    gemeinsame Geschichte –  Flori & Friends: Nie mehr Hunger, Durst, Kälte oder
    Hitze erleiden. Geschützt vor Vertreibung oder Misshandlung. Behandelt mit Liebe
    und Respekt. Versorgt in Krankheit und bei Verletzungen und geschützt durch Impfungen
    aber auch Kastrationen, damit keine weiteren Welpen in dieses kalte Land reingeboren
    werden. Mit dem großen Ziel, dass sie einmal ein liebevolles Zuhause finden.
    Und wenn das nicht möglich ist, dass sie in Würde alt werden können.
  </p>

  <p>
    Der Weg – von der Rettung aus den lebensbedrohlichen Situationen bis zu diesem
    Augenblick, wo sie Zuhause ankommen – ist für uns jedoch eine große Herausforderung.
    Denn es kann oft Jahre dauern, bis sie ihr Zuhause finden. Bis dahin müssen sie
    aber versorgt werden. Und manche brauchen diese Hilfe bis zu ihrem Tod, weil sie
    zu alt oder traumatisiert sind, dass ein Zuhause für sie nur sehr schwer zu finden ist.
  </p>

  <p>
    Wir sind selbst mehrmals im Jahr persönlich vor Ort und können uns von dem Zustand
    unserer Schützlinge ein Bild machen. Es werden Gespräche mit den Tierärzten geführt
    und alles Organisatorische mit dem Team direkt abgeklärt, das sonst nur über E-Mail
    und Chats abläuft. Und das Schönste daran, wir können all unsere Schützlinge ausgiebig
    knuddeln und mit Leckerlis verwöhnen.
  </p>

  <p>
    Wir leisten alles ehrenamtlich und jeder von unserem Team investiert viel Zeit
    und Geld in dieses Projekt, weil wir wissen, dass es den Hunden bei Flori und
    ihren Freunden gut geht.
  </p>

  <p>
    Deshalb würden wir uns auch über Deine Unterstützung freuen. Wir versichern, dass
    jeder Cent unseren Schützlingen direkt zugutekommt. Über jeden Beitrag oder auch
    Idee, wie wir Hilfe für die Hunde und Katzen aufstellen können, sind wir dankbar.
  </p>

<iframe frameborder="0" marginheight="0" marginwidth="0" src="https://www.betterplace-widget.org/projects/84135?l=de" width="100%" height="320" style="border: 0; padding:0; margin:0;">Informieren und spenden: <a href='https://www.betterplace.org/de/projects/84135-rettet-die-hunde-im-flori-shelter-in-rumaenien-helft-beim-shelterneubau' target='_blank'>„Rettet die Hunde im Flori Shelter in Rumänien - helft beim Shelterneubau “</a> auf betterplace.org öffnen.</iframe>
<a title="Jetzt spenden für „Rettet die Hunde im Flori Shelter in Rumänien - helft beim Shelterneubau “ auf betterplace.org!" target="_blank" href="https://www.betterplace.org/de/donate/platform/projects/84135-rettet-die-hunde-im-flori-shelter-in-rumaenien-helft-beim-shelterneubau?utm_campaign=donate_btn&utm_content=project%2384135&utm_medium=external_banner&utm_source=projects"><img style="border:0px" alt="Jetzt Spenden! Das Spendenformular wird von betterplace.org bereit gestellt." width="160" height="100" src="https://betterplace-assets.betterplace.org/static-images/projects/donation-button-de.png" /></a>

</div>

