<div class="content pt-3">
  <h1>Ein Seelenort für unsere Schützlinge</h1>

  <p class="text mb-3">
    Unsere größte Herausforderung ist der Bau des neuen Shelters.
    Denn unsere 250 Hunde können nicht mehr dortbleiben, wo sie derzeit
    leben und untergebracht sind.
  </p>

  <p class="text mb-3">
    Das alte Shelter ist abgelebt und zerfällt. Außerdem müssen wir es bis Ende des
    Jahres verlassen,da das Anwesen anderweitig benötigt wird. Ein Teil der Hunde,
    vor allem die kranken und alten, befinden sich im Haus von Flori, unserer guten
    Seele, die sich einem Leben für die Hunde verschrieben hat. Sie kann aber nun
    nicht mehr mit den Hunden in ihrem eigenen Haus bleiben, da die Nachbarn sie
    laufend wegen Lärmbelästigung anzeigen.
  </p>

  <p class="text mb-3">
    Wir mussten uns deshalb schnell auf die Suche machen und haben ein passendes
    Anwesen gefunden, wo die rumänische Sheltermama Flori selbst wohnen kann und
    außerdem genug Platz für alle Hunde ist. Der Kaufvertrag für das Haus und das
    Grundstück ist unterzeichnet. Das Geld dafür ist, wenn auch teilweise nur geborgt,
    fürs Erste zusammen.
  </p>

  <p class="text mb-3">
    Die nächste Hürde ist der Bau des Shelters, mit einem ausbruchsicheren Zaun,
    mit Kennels, die etwas großzügiger angelegt sind, als bisher. Auslaufzonen,
    damit die Lebensqualität steigt, mit winterfesten Holzhäusern, Überdachungen,
    Innenhütten sowie einem Container für die Lagerung von Futter und Materialien.
    Und groß ist die Hoffnung, dass wir auch endlich eine Quarantäne- und Krankenstation
    aufbauen können.
  </p>

  <p class="text mb-3">
    Jeder Baustein hilft und trägt dazu bei, dass unsere Hunde bald in ihr vorläufiges
    neues Zuhause ziehen dürfen.
  </p>

  <p class="text mb-3">
    Unser Sammelprojekt auf Betterplace <br>
    https://www.betterplace.org/de/Projekt 84135 <br>
    Rettet die Hunde im Flori Shelter in Rumänien – helft beim Shelterneubau
  </p>
</div>
