.table-div {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  margin-left: 20px;
  width: 600px;
}

.table-cenral-border {
  border-right: 1px solid black;
}

.row-name-text {
 color: #200F0F;
}

.row-description-text {
  color: #928A8A;
}
